* {
    font-family: 'Staatliches', cursive;

}

.container {
    display: flexbox;
}

.container .wrapper-one .container-one {
    height: 85%;
    width: 19%;
    position: absolute;
}

.container .wrapper-two .container-two {
    height: 85%;
    width: 19%;
    margin-left: 20%;
    position: absolute;
}

.container .wrapper-three .container-three {
    height: 85%;
    width: 19%;
    position: absolute;
    margin-left: 40%;
}

.container .wrapper-four .container-four {
    height: 85%;
    width: 19%;
    margin-left: 60%;
    position: absolute;
}

.container .wrapper-five .container-five {
    height: 85%;
    width: 19%;
    position: absolute;
    margin-left: 80%;
}

.header .change-colours {
    text-align: center;
    margin-left: 45%;
    margin-bottom: 1%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    background-color: #39A9DB;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

.header .change-colours:hover {
    opacity: 1;
}

.container .wrapper-one .heading-one {
    position: fixed;
    bottom: 0;
    margin-left: 5%;
}

.container .wrapper-two .heading-two {
    position: fixed;
    bottom: 0;
    margin-left: 25%;
}

.container .wrapper-three .heading-three {
    position: fixed;
    bottom: 0;
    margin-left: 45%;
}


.container .wrapper-four .heading-four {
    position: fixed;
    bottom: 0;
    margin-left: 65%;
}

.container .wrapper-five .heading-five {
    position: fixed;
    bottom: 0;
    margin-left: 85%;
}